body {
	background-color: #222222;
	font-family: "IM Fell DW Pica", arial, serif; 
	text-transform: lowercase;
	color: #d5d3c8;
}
h1 {
	font-size: 28px;
	margin: 0;
}
h2 {
	font-size: 18px;
	margin: 0;
}
a {
	text-decoration: none;
	color: #d5d3c8;
}
a:hover {
	text-decoration: underline;
}
p {
	padding: 0px 0px 0px 5px;
	line-height: 1em;
}
ul {
	list-style: none;
}
ul, li {
	padding: 0;
	margin: 0;
}
#main-header-wrap {
	height: 38px;
}
#main-header {
	position: fixed;
	width: 100%;
	background-color: #1A1B1E;
	border-bottom: 2px solid black;
	height: 38px;
}
#main-header-content {
	width: 980px;
	margin: 0 auto;
}
#logo-wrap {
	overflow: hidden;
}
#robot-heads {
	float: left;
	padding: 0 10px 0 0;
	margin: 0 10px 0 0;
	/*border-right: 3px solid #d5d3c8;*/
}
#robot-heads a:hover {
	text-decoration: none;
	color: #eeeeee;
}
#main-nav {
	float: left;
}
#main-nav ul {
	overflow: hidden;
}
#main-nav ul li {
	float: left;
	font-size: 28px;
	margin: 0 20px 0 0;
}
#robot-text {
	float: right;
}
#main-content {
	width: 980px;
	margin: 0 auto;
}
.about {
	padding-top: 20px;
}
#legend {

}
#legend ul {
	overflow: hidden;
}
#legend ul li {
	float: left;
	width: 220px;
	height: 220px;
	border: 3px solid #d5d3c8;
	background-color: #444444;
	margin: 0 18px 18px 0;
}
#legend ul li.last-in-row {
	margin: 0 0 18px 0;
}