<header>
	<div id="logo-wrapper">
		<h1 id="robot-heads">
			<a href="#">
				[oo][oo]
			</a>
		</h1>
		<nav id="main-nav">
			<ul>
				<li>
					<a href="#">
						About
					</a>
				</li>
				<li>
					<a href="#">
						Contact
					</a>
				</li>
			</ul>
		</nav>
		<h1 id="robot-text">
			<a href="#">
				Two Robots
			</a>
		</h1>
	</div>
</header>
<section id="main-content">
	<div class="about">
		<h2>About</h2>
		<p>ಠ_ಠ</p>
	</div>
	<div id="legend">
		<h2>Legend</h2>
		<ul id="legend-keys">
			<li>[00]</li>
			<li>[01]</li>
			<li>[10]</li>
			<li class="last-in-row">[11]</li>
			<li>[00]</li>
			<li>[01]</li>
			<li>[10]</li>
			<li class="last-in-row">[11]</li>
			<li>[00]</li>
			<li>[01]</li>
			<li>[10]</li>
			<li class="last-in-row">[11]</li>
			<li>[00]</li>
			<li>[01]</li>
			<li>[10]</li>
			<li class="last-in-row">[11]</li>
			<li>[00]</li>
			<li>[01]</li>
			<li>[10]</li>
			<li class="last-in-row">[11]</li>
		</ul>
	</div>
	<div class="reviews">
		<h2>Music</h2>
		<ul class="artists">
			<li>Radiohead</li>
				<ul>
					<li>[01]Pablo Honey</li>
					<li>[10]The Bends</li>
					<li>[11]OK Computer</li>
						<ul>
							<li>[01]Airbag</li>
							<li>[11]Paranoid Android</li>
							<li>[10]Subterranean Homesick Alien</li>
							<li>[11]Exit Music (For A Film)</li>
							<li>[11]Let Down</li>
							<li>[10]Karma Police</li>
							<li>[10]Fitter Happier</li>
							<li>[10]Electioneering</li>
							<li>[10]Climbing Up The Walls</li>
							<li>[11]No Surprises</li>
							<li>[10]Lucky</li>
							<li>[10]The Tourist</li>
						</ul>
					<li>[10]Kid A</li>
					<li>[10]Amnesiac</li>
					<li>[10]Hail To The Thief</li>
					<li>[10]In Rainbows</li>
				</ul>
			<li>The Strokes</li>
				<ul>
					<li>Is This It?</li>
					<li>Room On Fire</li>
					<li>First Impressions Of Earth</li>
				</ul>
		</ul>
	</div>
</section>
<footer>
	
</footer>