<!DOCTYPE html>
<html>
<head>
	<title>two robots - [oo][oo]</title>
	<link href="http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Josefin+Sans+Std+Light" rel="stylesheet"" type="text/css"">
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
